
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81beff;
  color: #000000;
  padding: 10px 20px;
}

.welcome {
  flex: 1;
}

.menu {
  flex: 1;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li a {
  color: #ffffff; /* Black text color */
}

.menu li {
  display: inline;
  margin: 0 10px;
  background-color: #311d9e; /* Blue background color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Show pointer on hover */
  margin-top: 10px; /* Add some space above the button */

}

.menu li:hover {
  background-color: #4f5099; /* Darker shade of blue on hover */
}

.logout {
  flex: 1;
  text-align: right;
}



/* dashboard_styles.css */
.dashboard-content {
  background-color: #a15555; /* Replace with your desired color */
  padding: 20px; /* Add padding for better visibility */
  border-radius: 0; /* Remove border-radius */
  margin: 0; /* Remove any default margin */
  height: calc(100vh - 60px); /* Calculate the height based on viewport height minus header height */
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
}
/* Style for the container that holds the dashboard content */
.dashboard-container {
  background-color: #fff; /* White background */
  text-align: center; /* Center the text inside the container */
  position: relative; /* Set the container position to relative */
}

/* Style for buttons */
button {
  background-color: #1a39c2; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add some padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Show pointer on hover */
  margin-top: 10px; /* Add some space above the button */
}

button:hover {
  background-color: #2797e2; /* Darker shade of blue on hover */
}

/* Style for the logout button */
.dashboard-button {
  position: relative; /* Set the button position to absolute */
  margin-bottom: 10px;
}



