<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard_styles.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <h1>Welcome to Your Dashboard</h1>
      <a href="{{ url_for('logout') }}"
        ><button class="dashboard-button">Logout</button></a
      >
      <div class="dashboard-content">
        <!-- Dashboard content goes here -->
      </div>
    </div>
  </body>
</html>
