<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard_styles.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <div class="header">
        <div class="welcome">
          <h2>Welcome to Your Dashboard: {{ username }}</h2>
        </div>
        <div class="menu">
          <ul>
            <li><a href="#" >Item 1</a></li>
            <li><a href="#" >Item 2</a></li>
            <li><a href="#" >Item 3</a></li>
          </ul>
        </div>
          <a href="{{ url_for('logout') }}"><button class="dashboard-button">Logout</button></a>
      </div>
        <div class="dashboard-content">
          <!-- Dashboard content goes here -->
          <div class""></div>
      </div>
    </div>
    
  </body>
</html>
